
#chatbot_btn, #mainPage_btn, #logout_btn {
    border-width: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    -fx-cursor: hand;
}

#chatbot_btn:hover, #mainPage_btn:hover, #logout_btn:hover {
    background-color:  #EBF8FF;
    -fx-background-color:  #EBF8FF;
}

#discussion_btn, #information_btn, #mainpage_back {
    background-color: #90CDF4;
    -fx-background-color: #90CDF4;
    -fx-cursor: hand;
}

#discussion_btn:hover, #information_btn:hover, #mainpage_back:hover {
    background-color: #BEE3F8;
    -fx-background-color: #BEE3F8;
}



