@import "buttons.css";

#borderpane {
    -fx-background-color:  #cee7f8;
    background-color:  #cee7f8;
}

#searchbar {
    -fx-background-color: white;
    -fx-border-radius: 30%;
    -fx-margin: 80px 40px 80px 0;
    -fx-padding: 0 0 0 20;
}

#coursesList {
    -fx-background-color: white;
    -fx-border-radius: 30%;
    -fx-margin: 0px 40px 20px 60;
    -fx-padding: 2 10 10 10;
}

.list-cell:even{
    background-color: none;
    -fx-background-color: none;

    border-top-width: 1px;
    -fx-border-top-width: 1px;

    border-top-color: grey;
    -fx-border-top-color: grey;

    height: 35px;
    -fx-box-height: 35px;

    font-size: 25;
    -fx-font-size: 25;

    font-family: Consolas;
    -fx-font-family: Consolas;

    padding: 4px;
    -fx-padding: 4px;

    margin: 4px;
    -fx-margin: 4px;

}

.list-cell > * {
    -fx-font-family: Consolas;
    -fx-font-size: 25;
}

.list-cell:odd{
    background-color: none;
    -fx-background-color: none;

    border-top-width: 1px;
    -fx-border-top-width: 1px;

    border-top-color: grey;
    -fx-border-top-color: grey;

    height: 35px;
    -fx-box-height: 35px;

    font-size: 25;
    -fx-font-size: 25;

    font-family: Consolas;
    -fx-font-family: Consolas;

    padding: 4px;
    -fx-padding: 4px;

    margin: 4px;
    -fx-margin: 4px;

}

.list-cell:hover{
    background-color: azure;
}

.list-cell:empty{
    opacity: 0;
    -fx-opacity: 0;
}





