* {
	-fx-color-primary: #0b7de0;
	-fx-color-primary-light: #63acff;
	-fx-color-primary-dark: #0052ad;
	-fx-color-primary-text: #ffffff;
	
	-fx-color-secondary: #f0f0f0;
	-fx-color-secondary-light: #ffffff;
	-fx-color-secondary-dark: #bebebe;
	-fx-color-secondary-text: #212121;
}


#pane_chatbot {
	-fx-background-radius: 12 12 12 12;
	-fx-border-radius: 12 12 12 12;
	-fx-background-color: -fx-color-primary;
}

#toolbar_main {
	-fx-background-radius: 12 12 0 0;
	-fx-border-radius: 12 12 0 0;
	-fx-background-color: -fx-color-primary-dark;
}