.list-view {
    -fx-background-color: none;
    background-color: none; 
}

.list-view .list-cell:even{
     background-color: none;
    -fx-background-color: none;

     border-width: 2px;
    -fx-border-width: 2px;

    border-color: black;
    -fx-border-color: black;

    height: 55px;
    -fx-box-height: 55px;

    font-size: 25;
    -fx-font-size: 25;

    font-family: "Avenir next";
    -fx-font-family: "Avenir next";

    padding: 4,4,4,4;
    -fx-padding: 4,4,4,4;
}

.list-view .list-cell {
    background-color: none;
    -fx-background-color: none;
}

.list-view .list-cell:odd{
    background-color: none;
    -fx-background-color: none;

     border-width: 2px;
    -fx-border-width: 2px;

    border-color: black;
    -fx-border-color: black;

    height: 55px;
    -fx-box-height: 55px;

    font-size: 25;
    -fx-font-size: 25;

    font-family: "Avenir next";
    -fx-font-family: "Avenir next";

    padding: 4,4,4,4;
    -fx-padding: 4,4,4,4;

}

.list-view .list-cell:empty{
    opacity: 0;
    -fx-opacity: 0;

}



/* 
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
} */

#chatbot_btn {
    -fx-background-color:
        linear-gradient(to bottom, #33bdef 5%, #019ad2 100%),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
  	color:#ffffff;
   
}
#chatbot_btn:hover {
    -fx-background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	-fx-background-color:#019ad2;

    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

#chatbot_btn:active {
    position:relative;
	top:1px;

    -fx-position:relative;
	-fx-top:1px;
}

.text-area .content {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: gray;
    background-color: transparent;
    border-width: 2px;
    border-color: gray; 
    font-size: 30;
    -fx-font-size: 30;
} 

#header_txtArea {

    color: whitesmoke;
    -fx-color: whitesmoke;

    -fx-font-size: 80;
    font-size: 80;

    border-bottom-color: black;
    -fx-border-bottom-color: black;

    min-width: 1920px;
    -fx-min-width: 1920px;

    min-height: 180;
    -fx-min-height: 180;

    align-content: center;
    -fx-align-content: center;

    font-family: 'Helvetica Neue', sans-serif; 
    -fx-font-family: 'Helvetica Neue', sans-serif; 

    font-weight: bold; 
    -fx-font-weight: bold; 

    letter-spacing: -1px; 
    -fx-letter-spacing: -1px; 

    line-height: 1;
    -fx-line-height: 1;

    text-align: center;
    -fx-text-align: center;
}

#header_txtArea .content {

    border-color: black;
    -fx-border-color: black;

    -fx-border-bottom-width:2px;
    border-bottom-width:2px;

    align-content: center;
    -fx-align-content: center;

}
.menu-bar {
    font-size: 30;
    -fx-font-size: 30;

    font-family: "Avenir next";
    -fx-font-family: "Avenir next";

     min-width: 1920px;
    -fx-min-width: 1920px;
}
.menu-bar .content{
     border-color: black;
    -fx-border-color: black;

    -fx-border-bottom-width:2px;
    border-bottom-width:2px;

     background-color: whitesmoke;
    -fx-background-color: whitesmoke;

}

.menu-bar .menus{
    border:black;
    -fx-border: black;

    border-width: 1px;
    -fx-border-width: 1px;
}