.list-view {
    -fx-background-color: none;
    background-color: none; 
}

.list-view .list-cell:even{
     background-color: none;
    -fx-background-color: none;

     border-width: 2px;
    -fx-border-width: 2px;

    border-color: black;
    -fx-border-color: black;

    height: 45px;
    -fx-box-height: 45px;

    font-size: 25;
    -fx-font-size: 25;

    font-family: "Avenir next";
    -fx-font-family: "Avenir next";

    padding: 4,4,4,4;
    -fx-padding: 4,4,4,4;
}

.list-view .list-cell {
    background-color: none;
    -fx-background-color: none;
}

.list-view .list-cell:odd{
    background-color: none;
    -fx-background-color: none;

     border-width: 2px;
    -fx-border-width: 2px;

    border-color: black;
    -fx-border-color: black;

    height: 45px;
    -fx-box-height: 45px;

    font-size: 25;
    -fx-font-size: 25;

    font-family: "Avenir next";
    -fx-font-family: "Avenir next";

    padding: 4,4,4,4;
    -fx-padding: 4,4,4,4;

}

.list-view .list-cell:empty{
    opacity: 0;
    -fx-opacity: 0;

}

#rectangle{
    background-color: blue;
}

#chatbot_btn {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
  
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;

   
}
#chatbot_btn:hover {
    -fx-background:linear-gradient(to bottom, #bee075 5%, #d7f09c 100%);
    -fx-background-color:#bee075;

	background:linear-gradient(to bottom, #bee075 5%, #d7f09c 100%);
	background-color:#bee075;
}

#chatbot_btn:active {
    -fx-position:relative;
    -fx-top:1px;

	position:relative;
	top:1px;
}

